@import url(http://fonts.googleapis.com/css?family=Open%20Sans:400,300,300italic,400italic,700,700italic,900,900italic);@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
	overflow-x:hidden;
	padding: 0 !important;
	background:#fff;
	margin:0px !important;
}


.fullwidthbanner-container{
		width:100% !important;
		position:relative;
		padding:0;
		overflow:hidden;
		color:#fff;
}

.tp-caption{
	font-size:14px;
}

.custom-font-1{
	font-family:"Montserrat", Arial, Helvetica, sans-serif;
	font-size:56px;
	font-weight:800;
	text-transform:uppercase;
	line-height:56px;
}

.tp-caption .btn-custom{
	color:#222;
}

.s80{
	font-size:80px;
}

.custom-font-2{
	font-family:"Lato", Arial, Helvetica, sans-serif;
	font-size:24px;
}

.custom-font-3{
	font-family:Georgia;
	font-size:18px;
	font-style:italic;
}

.s28{
	font-size:28px;
}

.line-deco {
  line-height: 0.5;
  text-align: center;
}
.line-deco span {
  display: inline-block;
  position: relative; 
}
.line-deco span:before,
.line-deco span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid white;
  top: 5px;
  width: 30px;
}
.line-deco span:before {
  right: 100%;
  margin-right: 15px;
}
.line-deco span:after {
  left: 100%;
  margin-left: 15px;
}

.line{
	width:145px;
	height:4px;
	background:#fff;
}

a.btn-slider{
	display:inline-block;
	background:#D03232;
	color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:6px 31px 6px 31px;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:2px;
	min-width:100px;
}

a.btn-border-slider{
	display:inline-block;
	border:solid 2px rgba(255,255,255,.5);
	color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:5px 30px 5px 30px;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:2px;
	min-width:100px;
}

.border-v{
	height:300px;
	border-left:solid 1px rgba(255,255,255,.5);
}

.h-line{
	width:80px;
	height:3px;
	background:#D03232;
}
